In [1]:
# Import libraries
import pandas as pd

In [2]:
#Url data
url = './data/raw/PRECIOS LUZ.xlsx'

In [3]:
# Extracting dataframe and preprocessing
df_fixed_price = pd.read_excel(url, sheet_name='FIJO')
df_fixed_price = df_fixed_price.iloc[1:,2:]
df_fixed_price.dropna(inplace=True)
df_fixed_price.columns = ['SISTEMA','CIA','PRODUCTO','PRODUCTO_CIA','TARIFA', 'FEE',
                          'P1','P2','P3','P4','P5','P6',
                          'P1.','P2.','P3.','P4.','P5.','P6.'
                            ]

In [4]:
# Nice
df_fixed_price

,SISTEMA,CIA,PRODUCTO,PRODUCTO_CIA,TARIFA,FEE,P1,P2,P3,P4,P5,P6,P1.,P2.,P3.,P4.,P5.,P6.
1,PENINSULA,ACCIONA,FIJO,CIERZO,2.0TD,-,0.088121,0.01957,0,0,0,0,0.355703,0.304626,0.265992,0,0,0
2,PENINSULA,ACCIONA,FIJO,LEVANTE,2.0TD,-,0.071682,0.003132,0,0,0,0,0.366868,0.315791,0.277157,0,0,0
3,PENINSULA,ACCIONA,FIJO,LEVANTE+,2.0TD,-,0.082641,0.014091,0,0,0,0,0.366868,0.315791,0.277157,0,0,0
4,PENINSULA,ACCIONA,FIJO,PONIENTE,2.0TD,-,0.071682,0.003132,0,0,0,0,0.360778,0.309701,0.271067,0,0,0
5,PENINSULA,ACCIONA,FIJO,PONIENTE+,2.0TD,-,0.077162,0.008611,0,0,0,0,0.360778,0.309701,0.271067,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,PENINSULA,ADI,FIJO,ECO ADI,6.1TD,-,0.071138,0.062579,0.036514,0.031673,0.013448,0.011367,0.223107,0.205496,0.185999,0.169934,0.167387,0.166234
915,PENINSULA,ADI,FIJO,RESIDENCIAL ESPECIAL,2.0TD,-,0.135186,0.135186,0,0,0,0,0.165071,0.165071,0.165071,0,0,0
916,PENINSULA,ADI,FIJO,ADI SENCILLA,2.0TD,-,0.075022,0.028336,0,0,0,0,0.253546,0.202874,0.17825,0,0,0
917,PENINSULA,ADI,FIJO,ADI SENCILLA,3.0TD,-,0.038308,0.0326,0.010965,0.010011,0.007487,0.005483,0.239604,0.218459,0.19183,0.171813,0.168778,0.167685
918,PENINSULA,ADI,FIJO,ADI SENCILLA,6.1TD,-,0.062918,0.054359,0.028295,0.023454,0.005229,0.003148,0.210616,0.19298,0.173552,0.157523,0.154953,0.153746

In [5]:
# Saving to csv
df_fixed_price.to_csv('./data/processed/fixed_price.csv', index=False)

In [6]:
# Extracting dataframe df_indexed_price and preprocessing
df_indexed_price = pd.read_excel(url, sheet_name='INDEXADO')

In [7]:
# Proper data and nice columns
df_indexed_price = df_indexed_price.iloc[3:,1:12]
df_indexed_price.columns=['SISTEMA','TARIFA','CIA','MES','FEE','P1','P2','P3','P4','P5','P6']
df_indexed_price.reset_index(drop=True, inplace=True)

In [8]:
df_indexed_price

,SISTEMA,TARIFA,CIA,MES,FEE,P1,P2,P3,P4,P5,P6
0,BALEARES,2.0TD,ACCIONA,2023-06-01 00:00:00,Cierzo,0.212767,0.165975,0.142781,0,0,0
1,BALEARES,2.0TD,ACCIONA,2023-05-01 00:00:00,Cierzo,0.190597,0.143704,0.120055,0,0,0
2,BALEARES,2.0TD,ACCIONA,2023-04-01 00:00:00,Cierzo,0.190032,0.143135,0.119475,0,0,0
3,BALEARES,2.0TD,ACCIONA,2023-03-01 00:00:00,Cierzo,0.208748,0.161937,0.138661,0,0,0
4,BALEARES,2.0TD,ACCIONA,2023-02-01 00:00:00,Cierzo,0.260442,0.213867,0.191651,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9664,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"07 / Bi0,012",0,0,0.15824,0.144112,0,0.139823
9665,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"08 / Bi0,01",0,0,0.15624,0.142112,0,0.137823
9666,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"09 / Bi0,008",0,0,0.15424,0.140112,0,0.135823
9667,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"10 / Bi0,006",0,0,0.15224,0.138112,0,0.133823
9668,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"11 / Bi0,003",0,0,0.14924,0.135112,0,0.130823

In [9]:
# Saving to csv
df_indexed_price.dropna(inplace=True)
df_indexed_price.reset_index(drop=True, inplace=True)
df_indexed_price.to_csv('./data/processed/indexed_price.csv', index=False)

In [10]:
# Extracting dataframe df_fixed_price_power and preprocessing

df_indexed_price_power = pd.read_excel(url, sheet_name='INDEXADO')

In [11]:
# Making everything nice
df_indexed_price_power = df_indexed_price_power.iloc[3:, 13:]
df_indexed_price_power.columns = ['SISTEMA','CIA','PRODUCTO','PRODUCTO_CIA','TARIFA','P1','P2','P3','P4','P5','P6']
df_indexed_price_power.dropna(inplace=True)
df_indexed_price_power.reset_index(drop=True, inplace=True)

In [12]:
df_indexed_price_power

,SISTEMA,CIA,PRODUCTO,PRODUCTO_CIA,TARIFA,P1,P2,P3,P4,P5,P6
0,BALEARES,ACCIONA,INDEXADO,CIERZO,2.0TD,0.088121,0.01957,0,0,0,0
1,BALEARES,ACCIONA,INDEXADO,CIERZO,3.0TD,0.056,0.046924,0.030475,0.028048,0.023445,0.021317
2,BALEARES,ACCIONA,INDEXADO,CIERZO,6.1TD,0.077855,0.072249,0.047885,0.041248,0.021896,0.019686
3,BALEARES,ACCIONA,INDEXADO,CIERZO,6.2TD,0.06027,0.056978,0.037051,0.035407,0.019981,0.018683
4,BALEARES,ACCIONA,INDEXADO,LEVANTE+,2.0TD,0.082641,0.014091,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
374,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNAHORRO,6.1TD,0.062918,0.054359,0.028295,0.023454,0.005229,0.003148
375,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNEXTRA,6.1TD,0.068521,0.059962,0.033914,0.027047,0.020619,0.013004
376,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNPLUS,6.1TD,0.073808,0.064304,0.0389,0.034208,0.015813,0.01355
377,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNPROF,6.1TD,0.065781,0.057222,0.031174,0.024307,0.017879,0.010264
378,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLSUMMER,6.1TD,0.076576,0.068017,0.041952,0.037207,0.018982,0.016901

In [13]:
# Saving to csv
df_indexed_price_power.to_csv('./data/processed/indexed_price_power.csv', index=False)

In [14]:
url1 = './data/raw/ESTUDIOPERSONALIZADO_SEVERAL_LUZ (2).xlsx'

In [15]:
df_indexed1 = pd.read_excel(url1, sheet_name='INDEXADO')

In [16]:
df_indexed1 = df_indexed1.iloc[2:,2:13]
df_indexed1.dropna(inplace=True)
df_indexed1.reset_index(drop=True, inplace=True)
df_indexed1.columns = df_indexed1.iloc[0]
df_indexed1 = df_indexed1[1:]

In [17]:
df_indexed1

,SISTEMA,TARIFA,CIA,MES,FEE,P1.,P2.,P3.,P4.,P5,P6.
1,BALEARES,2.0TD,ACCIONA,2023-10-01 00:00:00,Cierzo,0.209373,0.162565,0.139301,0,0,0
2,BALEARES,2.0TD,ACCIONA,2023-10-01 00:00:00,Levante,0.228658,0.18185,0.158586,0,0,0
3,BALEARES,2.0TD,ACCIONA,2023-10-01 00:00:00,Levante+,0.228658,0.18185,0.158586,0,0,0
4,BALEARES,2.0TD,ACCIONA,2023-10-01 00:00:00,Poniente,0.218508,0.1717,0.148436,0,0,0
5,BALEARES,2.0TD,ACCIONA,2023-10-01 00:00:00,Poniente+,0.218508,0.1717,0.148436,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
11202,PENINSULA,6.4TD,IGNIS,2023-05-01 00:00:00,30 MARE PLUS 1,0,0,0,0.12748,0.119923,0.122326
11203,PENINSULA,6.4TD,IGNIS,2023-05-01 00:00:00,4 MARE KIT 2,0,0,0,0.10148,0.093923,0.096326
11204,PENINSULA,6.4TD,IGNIS,2023-05-01 00:00:00,6 MARE KIT 1,0,0,0,0.10348,0.095923,0.098326
11205,PENINSULA,6.4TD,IGNIS,2023-05-01 00:00:00,8 MARE ZEN 3,0,0,0,0.10548,0.097923,0.100326
11206,PENINSULA,6.4TD,IGNIS,2023-05-01 00:00:00,"2,5 MARE KIT 3",0,0,0,0.09998,0.092423,0.094826

In [18]:
# Saving to csv
df_indexed1.to_csv('./data/processed/indexed1.csv', index=False)