In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
url1 = './data/processed/fixed_price.csv'
url2 = './data/processed/indexed_price.csv'
url3 = './data/processed/indexed_price_power.csv'

In [21]:
df_fixed = pd.read_csv(url1)
df_indexed_price = pd.read_csv(url2)
df_indexed_price_power = pd.read_csv(url3)

In [22]:
df_fixed

,SISTEMA,CIA,PRODUCTO,PRODUCTO_CIA,TARIFA,FEE,P1,P2,P3,P4,P5,P6,P1.,P2.,P3.,P4.,P5.,P6.
0,PENINSULA,ACCIONA,FIJO,CIERZO,2.0TD,-,0.088121,0.019570,0.000000,0.000000,0.000000,0.000000,0.355703,0.304626,0.265992,0,0,0
1,PENINSULA,ACCIONA,FIJO,LEVANTE,2.0TD,-,0.071682,0.003132,0.000000,0.000000,0.000000,0.000000,0.366868,0.315791,0.277157,0,0,0
2,PENINSULA,ACCIONA,FIJO,LEVANTE+,2.0TD,-,0.082641,0.014091,0.000000,0.000000,0.000000,0.000000,0.366868,0.315791,0.277157,0,0,0
3,PENINSULA,ACCIONA,FIJO,PONIENTE,2.0TD,-,0.071682,0.003132,0.000000,0.000000,0.000000,0.000000,0.360778,0.309701,0.271067,0,0,0
4,PENINSULA,ACCIONA,FIJO,PONIENTE+,2.0TD,-,0.077162,0.008611,0.000000,0.000000,0.000000,0.000000,0.360778,0.309701,0.271067,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,PENINSULA,ADI,FIJO,ECO ADI,6.1TD,-,0.071138,0.062579,0.036514,0.031673,0.013448,0.011367,0.223107,0.205496,0.185999,0.169934,0.167387,0.166234
903,PENINSULA,ADI,FIJO,RESIDENCIAL ESPECIAL,2.0TD,-,0.135186,0.135186,0.000000,0.000000,0.000000,0.000000,0.165071,0.165071,0.165071,0,0,0
904,PENINSULA,ADI,FIJO,ADI SENCILLA,2.0TD,-,0.075022,0.028336,0.000000,0.000000,0.000000,0.000000,0.253546,0.202874,0.17825,0,0,0
905,PENINSULA,ADI,FIJO,ADI SENCILLA,3.0TD,-,0.038308,0.032600,0.010965,0.010011,0.007487,0.005483,0.239604,0.218459,0.19183,0.171813,0.168778,0.167685
906,PENINSULA,ADI,FIJO,ADI SENCILLA,6.1TD,-,0.062918,0.054359,0.028295,0.023454,0.005229,0.003148,0.210616,0.19298,0.173552,0.157523,0.154953,0.153746

In [23]:
df_fixed["FEE"].nunique()

12

In [24]:
df_indexed_price

,SISTEMA,TARIFA,CIA,MES,FEE,P1,P2,P3,P4,P5,P6
0,BALEARES,2.0TD,ACCIONA,2023-06-01 00:00:00,Cierzo,0.212767,0.165975,0.142781,0.000000,0.0,0.000000
1,BALEARES,2.0TD,ACCIONA,2023-05-01 00:00:00,Cierzo,0.190597,0.143704,0.120055,0.000000,0.0,0.000000
2,BALEARES,2.0TD,ACCIONA,2023-04-01 00:00:00,Cierzo,0.190032,0.143135,0.119475,0.000000,0.0,0.000000
3,BALEARES,2.0TD,ACCIONA,2023-03-01 00:00:00,Cierzo,0.208748,0.161937,0.138661,0.000000,0.0,0.000000
4,BALEARES,2.0TD,ACCIONA,2023-02-01 00:00:00,Cierzo,0.260442,0.213867,0.191651,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
9664,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"07 / Bi0,012",0.000000,0.000000,0.158240,0.144112,0.0,0.139823
9665,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"08 / Bi0,01",0.000000,0.000000,0.156240,0.142112,0.0,0.137823
9666,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"09 / Bi0,008",0.000000,0.000000,0.154240,0.140112,0.0,0.135823
9667,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"10 / Bi0,006",0.000000,0.000000,0.152240,0.138112,0.0,0.133823
9668,PENINSULA,6.4TD,CANDELA,2023-09-01 00:00:00,"11 / Bi0,003",0.000000,0.000000,0.149240,0.135112,0.0,0.130823

In [25]:
df_indexed_price_power

,SISTEMA,CIA,PRODUCTO,PRODUCTO_CIA,TARIFA,P1,P2,P3,P4,P5,P6
0,BALEARES,ACCIONA,INDEXADO,CIERZO,2.0TD,0.088121,0.019570,0.000000,0.000000,0.000000,0.000000
1,BALEARES,ACCIONA,INDEXADO,CIERZO,3.0TD,0.056000,0.046924,0.030475,0.028048,0.023445,0.021317
2,BALEARES,ACCIONA,INDEXADO,CIERZO,6.1TD,0.077855,0.072249,0.047885,0.041248,0.021896,0.019686
3,BALEARES,ACCIONA,INDEXADO,CIERZO,6.2TD,0.060270,0.056978,0.037051,0.035407,0.019981,0.018683
4,BALEARES,ACCIONA,INDEXADO,LEVANTE+,2.0TD,0.082641,0.014091,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
374,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNAHORRO,6.1TD,0.062918,0.054359,0.028295,0.023454,0.005229,0.003148
375,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNEXTRA,6.1TD,0.068521,0.059962,0.033914,0.027047,0.020619,0.013004
376,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNPLUS,6.1TD,0.073808,0.064304,0.038900,0.034208,0.015813,0.013550
377,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLNPROF,6.1TD,0.065781,0.057222,0.031174,0.024307,0.017879,0.010264
378,PENINSULA,FACTOR,INDEXADO,NEGOCIO_POOLSUMMER,6.1TD,0.076576,0.068017,0.041952,0.037207,0.018982,0.016901

In [26]:
sns.heatmap(df_fixed.corr(), cmap='YlGnBu')

ValueError: could not convert string to float: 'PENINSULA'